<div class="container">
  <server-chooser></server-chooser>
  <status server="main.led.settings.url" validated="validated"></status>

  <div ng-if="validated" class="row">

    <!-- Status -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{ main.status.mode }}</dd>

            <dt ng-repeat-start="(name, value) in main.status.params">{{ name }}</dt>
            <dd ng-repeat-end>{{ value }}</dd>

          </dl>
        </div>
      </div>
    </div>

    <!-- Turn off -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Turn off
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" ng-click="main.setRGB('#000000')">
            Turn off
          </button>
        </div>
      </div>
    </div>

    <!-- Random -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Random color
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" ng-click="main.setRandom()">
            Set random color
          </button>
        </div>
      </div>
    </div>

    <!-- Set RGB -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Set color
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input colorpicker="hex" class="form-control" ng-model="hexPicker.color" type="text"
                ng-init="hexPicker.color = '#ff0000'">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="main.setRGB(hexPicker.color)"
                    style="background-color: {{ hexPicker.color }}">Set color</button>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sound mode
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" ng-click="main.setSound()">
            Set sound mode
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
