<div class="container">
  <server-chooser></server-chooser>
  <status server="main.led.settings.url" validated="validated"></status>

  <div ng-if="validated" class="row">

    <!-- Status -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{ main.status.mode }}</dd>

            <dt ng-repeat-start="(name, value) in main.status.params">{{ name }}</dt>
            <dd ng-repeat-end>{{ value }}</dd>

          </dl>
        </div>
      </div>
    </div>

    <!-- Turn off -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Turn off
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" ng-click="main.setOff()">
            Turn off
          </button>
        </div>
      </div>
    </div>

    <!-- Random -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Random color
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" ng-click="main.setRandom()">
            Set random color
          </button>
        </div>
      </div>
    </div>

    <!-- Set RGB -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Set color
        </div>
        <div class="panel-body">
            <form class="form" ng-submit="main.setRGB(rgb)" ng-init="rgb = {}">

            <div class="form-group">
              <label>Red</label>
              <div class="input-group">
                <input type="range" min="0" max="1" step="0.01" class="form-control" ng-model="rgb.red" ng-init="rgb.red = 0.8">
                <span class="input-group-addon">{{ rgb.red | number:2 }}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Green</label>
              <div class="input-group">
                <input type="range" min="0" max="1" step="0.01" class="form-control" ng-model="rgb.green" ng-init="rgb.green = 0.8">
                <span class="input-group-addon">{{ rgb.green | number:2 }}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Blue</label>
              <div class="input-group">
                <input type="range" min="0" max="1" step="0.01" class="form-control" ng-model="rgb.blue" ng-init="rgb.blue = 0.8">
                <span class="input-group-addon">{{ rgb.blue | number:2 }}</span>
              </div>
            </div>

            <div class="alert" style="background-color: rgb({{rgb.red * 255 | number:0}}, {{rgb.green * 255 | number:0}}, {{rgb.blue*255 | number:0}})">
              preview
            </div>

            <button class="btn btn-primary" type="submit">Set color</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sound mode
        </div>
        <div class="panel-body">
          <form class="form" ng-submit="main.setSound(sound)" ng-init="sound = {}">

            <div class="form-group">
              <label>Drop/Equalize</label>
              <div class="input-group">
                <input type="range" min="0" max="0.99" step="0.01" class="form-control" ng-model="sound.drop" ng-init="sound.drop = 0.8">
                <span class="input-group-addon">{{ sound.drop | number:2 }}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Cutoff</label>
              <div class="input-group">
                <input type="range" min="-2" max="5" step="0.1" class="form-control" ng-model="sound.cutoff" ng-init="sound.cutoff = 1.8">
                <span class="input-group-addon">{{ sound.cutoff | number:1 }}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Forget</label>
              <div class="input-group">
                <input type="range" min="0" max="0.999" step="0.001" class="form-control" ng-model="sound.forget" ng-init="sound.forget = 0.995">
                <span class="input-group-addon">{{ sound.forget | number:3 }}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Minimal</label>
              <div class="input-group">
                <input type="range" min="0" max="14" step="0.1" class="form-control" ng-model="sound.minimal" ng-init="sound.minimal = 9">
                <span class="input-group-addon">{{ sound.minimal | number:1 }}</span>
              </div>
            </div>

            <button class="btn btn-primary btn-block" ng-click="main.setSound(sound)">
              Set sound mode
            </button>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>
